<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Symbolic Learning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='/css/styles.css') }}" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>

    <div class="container">

      <div id="hider">
        <div id="loader"></div>
      </div>
      <div id="cover"></div>

      <div class="row body">
        <div class="col-md-6 mt-2">
          <div class="mt-4 title">
            <h1>Symbolic Learning</h1>
          </div>
          <br>
          <p><i>Equation to learn:</i><br>
            <hr width="100%" color="#eaeaea" style="margin:0;"><br>

            <small>

              <math>
                <mrow>
                  <mi>y</mi>
                  <mo>=</mo>
                  <mn><input type="number" name="e1" value="{{e1}}" /></mn>
                  <mi>cos</mi>
                  <mo>(</mo>
                  <mn><input type="number" name="c1" value="{{c1}}" /></mn>
                  <mi>X</mi>
                  <mo>)</mo>
                  <mo>+</mo>
                  <mn><input type="number" name="e2" value="{{e2}}" /></mn>
                  <mi>sin</mi>
                  <mo>(</mo>
                  <mn><input type="number" name="c2" value="{{c2}}" /></mn>
                  <mi>X</mi>
                  <mo>)</mo>
                  <mn><input type="number" name="e3" value="{{e3}}" /></mn>
                  <mi>arctan</mi>
                  <mo>(</mo>
                  <mn><input type="number" name="c3" value="{{c3}}" /></mn>
                  <mi>X</mi>
                  <mo>)</mo>

                </mrow>
              </math>

            </small>
            <br><br><hr width="100%" color="#eaeaea" style="margin:0;">


            <div class="form-check ms-3 mt-3">
              <small>
                <input class="form-check-input mt-2" type="checkbox" id="low_memory">
                <label class="form-check-label mt-1" for="low_memory">Enable Low Memory Mode</label>
              </small>
            </div>
            <small><input type="button" class="btn btn-outline-secondary m-2" value="Randomize" onclick="random_learn()" /></small>
            <small><input type="button" class="btn btn-outline-secondary m-2" value="Learn" onclick="reload_learn()" /></small>
            <small><input type="button" class="btn btn-outline-secondary m-2" value="Replay Anims" onclick="replay_anims()" /></small>
          </p>
          <br>
          <p><strong>Formatted Equation: </strong><span id="formatted_eq">{{pr_eq_formatted}}</span></p>
          <p><strong>R² Score: </strong><span id="r2_score">{{r2_score}}</span></p>
          <p><strong>Mean Absolute Error: </strong><span id="mae_score">{{mae_score}}</span></p>

          <div class="about p-2 mt-4">
            <h4>About Symbolic Learning</h4>
            <p>This page utilizes a form of symbolic regression to perform genetic programming.
            The goal is to find a mathematic formula that can best represent the input data.
            In this case, the input data comes from the equation where the user is allowed to alter the coefficients of the expression.
            The symbolic regressor is trained using {{samples}}% of the data points, calculated from the input expression.
            The regressor attempts to find the best mathematical fit by applying genetic programming.
            This generates a "population size" of equations that attempt to fit the input data.
            The best of these equations continue onto the next "generation" of equations.
            In this case, a population size of {{ps}} is being used across {{ga}} generations. </p>
          </div>
        </div>

        <div class="col-md-6 plots">
          <div id="full_plot" class=""></div>
        </div>

      </div>


      <!--<div class="row mt-4">
        <small><small class="lh-1">
          You may experience long loading times due to the rigorous nature of the genetic programming.
        </small></small>
      </div>-->

    </div>

    <script>
      document.getElementById("full_plot").innerHTML += htmlDecode("{{full_plot}}");

      document.getElementById("low_memory").checked = "{{low_mem}}" == "True";

      $(function(){
        $(':input[type="number"]').change(function () {
          size = $(this).val().length * 10;
          $(this).css("min-width", size + "px");
        });
        $(':input[type="number"]').trigger("change");
      });

      let vids = document.getElementsByTagName("video");
      for (var i = 0; i < vids.length; i++){
        vids[i].controls=false;
        vids[i].setAttribute("playsinline", "playsinline");
      }


      function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
      }


      function replay_anims(){
        let vids = document.getElementsByTagName("video");
        for (var i = 0; i < vids.length; i++){
          vids[i].pause();
          vids[i].currentTime = '0';
          vids[i].play();
        }
      }


      function random_learn(){
        var tbs = document.querySelectorAll('input[type=number]');
        for (var i = 0; i < tbs.length; i++){
          var val = 0;
          while (val == 0){
            if (Math.random() < 0.5)
              val = Math.round(Math.random()*2*10)/10;
            else if (Math.random() < 0.8)
              val = Math.round(Math.random()*5*10)/10;
            else
              val = Math.round(Math.random()*10*10)/10;
          }; tbs[i].value = val; $(tbs[i]).trigger("change");
        }; //reload_learn();
      }


      function reload_learn(){
        var params = {
          c1: document.getElementsByName("c1")[0].value,
          e1: document.getElementsByName("e1")[0].value,
          c2: document.getElementsByName("c2")[0].value,
          e2: document.getElementsByName("e2")[0].value,
          c3: document.getElementsByName("c3")[0].value,
          e3: document.getElementsByName("e3")[0].value,
          low_memory: document.getElementById("low_memory").checked ? 1 : 0
        };

        document.getElementById("hider").style.opacity = 1.0;

        fetch("/train", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(params)
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById("hider").style.opacity = 0;
          if (data.success) {
            document.getElementById("full_plot").innerHTML = htmlDecode(data.video_html);
            document.getElementById("r2_score").textContent = data.r2_score;
            document.getElementById("mae_score").textContent = data.mae_score;
            document.getElementById("formatted_eq").textContent = data.pr_eq_formatted;

            // Set up the new video
            let vids = document.getElementsByTagName("video");
            for (var i = 0; i < vids.length; i++){
              vids[i].controls = false;
              vids[i].setAttribute("playsinline", "playsinline");
            }
          } else {
            alert("Training failed: " + (data.error || "Unknown error"));
          }
        })
        .catch(error => {
          document.getElementById("hider").style.opacity = 0;
          alert("Request failed: " + error.message);
        });
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>
